* {
	box-sizing: border-box;
}

body {
	background-size: 100% 100%;
	background-image: url("../Image/background.jpg");
	display: flex;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.btn_download {
	position:absolute;
	width: 246px;
	height: 77px;
	background: url("../Image/btn_download_normal.png") no-repeat center;
	border-style: none;
	cursor: pointer;
	top: 71%;
	left: 50%;
	margin-left: -123px;
}

/* .btn_download:hover{
	background: url("../Image/btn_download_hover.png") no-repeat center;
} */