body {
	background-size: 100% 100%;
	background-image: url("../Image/background.png") ;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.btn_download {
	width: 246px;
	height: 77px;
	background: url("../Image/btn_download_normal.png") no-repeat center;
	border-style: none;
	cursor:pointer;
	margin-left: auto;
    margin-right: auto;
}

.btn_download:hover{
	background: url("../Image/btn_download_hover.png") no-repeat center;
}